.git
.github
.DS_Store

node_modules
**/node_modules
**/.next
**/.turbo
**/dist
**/coverage
**/*.log

.env
.env.*
**/.env
**/.env.*
**/*.cer
**/*.key
**/*.mobileprovision
**/*.p12
**/*.p8
**/*.pem

apps/admin
apps/api
apps/ios
docs
tasks
